[SddmGreeterTheme]
Name=Rose Pine SDDM
Description=A Rose Pine Theme for SDDM
Author=rototrash
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/UtsuroNoArashi/rose-pine-SDDM
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=rose-pine-SDDM
