; https://github.com/UtsuroNoArashi/rose-pine-SDDM

[SddmGreeterTheme]
Name=Rose Pine SDDM
Type=sddm-theme
Version=1.0
Description=A Rose Pine Theme for SDDM
License=GPL-3.0-or-later
Screenshot=preview.png
MainScript=Main.qml
Theme-Id=rose-pine-SDDM
Theme-API=2.0
TranslationsDirectory=translations
QtVersion=6

# ConfigFile=Styles/Dawn.conf
# ConfigFile=Styles/Main.conf 
ConfigFile=Styles/Moon.conf 
# ConfigFile=Styles/Default.conf
